# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.pytest_cache/
*.egg-info/
build/
dist/

# Environments
.env
.venv/
venv/

# Editors/IDE
.vscode/
.idea/

# Logs
*.log

# Project artifacts
project/output/
forgebase/
